.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.bold {
  font-weight: bold;
}

.alert {
    margin: 1vh auto;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}
.alert-success {
    background-color: #CADAC4;
    border: 1px solid #66b26a;
    color: #3B763D;
}

.alert-warning {
    background-color: #FDF8E3;
    border: 1px solid #8A6C3A;
    color: #8A6C3A;
}

.alert-danger {
    background-color: #FFCCBC;
    border: 1px solid #FF3D00;
    color: #DD2C00;
}

