@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

h1, h2 {
    font-weight: 600;
    font-variant: small-caps;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

li {
    list-style: none;
}

.facebox {
    box-shadow: 0px 0px 2px 0px #808080;
    padding: 3%;
    margin: 2% 0;
}

/* Voeg jouw css hieraan toe */
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* START CONCURRENTIEANALYSE*/
.concur-a {
    font-size: 1em;
    color: hsla(193, 56%, 60%, 1);
    text-decoration: none;
    font-weight: bold;
}
.concur-a:visited {
    color: hsla(193, 56%, 60%, 1);
}

.li-procon {
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
}

.section-box {
    display: block;
    margin-bottom: 8vh;
}

.color-box {
    margin-right: 2%;
    width: 200px;
    height: 200px;
    float:left;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
}

.blue {
    background-color: #61B9D3;
    color: #F0F1F5;
}

.black {
    background-color: black;
    color: #F0F1F5;
}

.justnotwhite {
    background-color: #F0F1F5;
}